## Numbers 

Coda includes functors Natural, Integer and Float which creates types representing these kinds of 
numbers using Python integers and Python floats as an underlying layer.  

* `make T? : B` makes data of type T? from input B.
* `sum T? : B` sums data of type T? from input B.
* `sort T? : B` sorts B with the partial ordering of T?.
* `inv T? : B` if T? has an involution, apply it to B.

A few examples follow.  Typical available operations can be found in `Type.co`.

In [1]:
make n : 1 2 x y 3.14 -99 3 4

(n:1) (n:2) (n:3) (n:4)

In [2]:
sum n : 1 2 x y 3.14 -99 3 4

(n:10)

In [3]:
sort n : 1 2 x y 3.14 -99 3 4

(n:1) (n:2) (n:3) (n:4)

In [4]:
sort int : 1 2 x y 3.14 -99 3 4

(int:-99) (int:1) (int:2) (int:3) (int:4)

In [5]:
inv int : 1 2 x y 3.14 -99 3 4

(int:-1) (int:-2) (int:99) (int:-3) (int:-4)

Coda comes with natural numbers (n), integers (int) and floats (float) created for you already.  These are actually made using functors

* Natural 
* Integer
* Float 

which let's you create your own.  For example...

In [7]:
#
#  Since myInt isn't defined at this point, this just creates a coda
#
sum myNumber : 1 2 x y 3.14 -99 3 4

((Sum:myNumber) myNumber:1 2 x y 3.14 -99 3 4)

In [8]:
#
#  By doing this, definitions are created to handle myNumber as a 
#  natural number.
#
Natural : myNumber

In [9]:
sum myNumber : 1 2 x y 3.14 -99 3 4

(myNumber:10)

For more sophisticated use of the Natural functor, see, for example, Path.co.

The fact that coda sequences are always finite sequences doesn't mean that we can't precisely represent infinite things.  For instance, the natural numbers are represented by `nat:0` where nat has a definition `nat:n` -> `n (nat:n+1)`, so the following are all equal:

* (nat : 0)
* 0 (nat:1)
* 0 1 2 3 4 (nat:5)

Let's demonstrate.

In [10]:
#
#   The only thing coda does is take data and apply definitions.  By default, 
#   the interpreter evaluates definitions recursively up to a default depth.  
#   That's why, if you enter `nat:0`, you get a finite sequence which is 
#   not completely evaluated. Note the coda at the end of the sequence. 
#
nat:0

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 (nat:99)

In [11]:
#
#   You can control the default evaluation depth.
#
getDefaultDepth :
setDefaultDepth : 20

100 20

In [12]:
#
#   Trying again, we have a modified partial evaluation of (nat:0), the natural numbers. 
#
nat : 0

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 (nat:18)

In [13]:
#
#   You can use step to how this gets evaluated in sequence. 
#
step 10 : nat : 0

[ 0] (({nat}:):({0}:))
[ 1] 0 (nat:1)
[ 2] 0 1 (nat:2)
[ 3] 0 1 2 (nat:3)
[ 4] 0 1 2 3 (nat:4)
[ 5] 0 1 2 3 4 (nat:5)
[ 6] 0 1 2 3 4 5 (nat:6)
[ 7] 0 1 2 3 4 5 6 (nat:7)
[ 8] 0 1 2 3 4 5 6 7 (nat:8)
[ 9] 0 1 2 3 4 5 6 7 8 (nat:9)
[10] 0 1 2 3 4 5 6 7 8 9 (nat:10)

In [14]:
#
#    What if we ask for "the natural numbers in reverse order?"...
#
rev : nat : 0

(rev:(nat:16)) (rev:15) 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [15]:
#
#    Note that this is handled correctly.  For instance, the first number 
#    in the reverse of the natural numbers is not defined, but the last 
#    is perfectly well defined.  
#
#    If you reverse twice, you get back the natural numbers again, as required. 
#
rev : rev : nat : 0

0 1 2 3 4 5 6 7 8 9 10 11 12 (rev:(rev:13)) (rev:(rev:(nat:14)))

In [16]:
#
#    What about "the sum of the natural numbers?"
#
#    If you do this, you get correct, but only partly evaluated data.  This would remain 
#    unevaluated no matter how deeply you evaluate. 
#
#    This is how coda tells you "This question has no answer." 
#
sum n : nat : 0

(ap put n:(apbin int_add:0 (({ap get1 A } n:(({make} n:0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 (nat:16)) ({A} n:0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 (nat:16)):0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 (nat:16))):({ B} n:(({make} n:0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 (nat:16)) ({A} n:0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 (nat:16)):0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 (nat:16)))))) (ap put n:)

In [17]:
#
#    On the other hand, the sum of the first 10 natural numbers is perfectly well defined. 
#
sum n : first 10 : nat : 0

(ap put n:(apbin int_add:0 (({ap get1 A } n:(({make} n:0 1 2 3 4 5 6 7 8 9) ({A} n:0 1 2 3 4 5 6 7 8 9):0 1 2 3 4 5 6 7 8 9)):({ B} n:(({make} n:0 1 2 3 4 5 6 7 8 9) ({A} n:0 1 2 3 4 5 6 7 8 9):0 1 2 3 4 5 6 7 8 9))))) (ap put n:)

In [18]:
#
#    If this isn't evaluated enough, you may have to increase the depth.
#
setDefaultDepth:100

100

In [19]:
#
#    Trying again, we get the correct answer of 45.
#
sum n : first 10 : nat : 0

(n:45)

Evaluation to a fixed depth is only one way to apply definitions to coda data.  The point is, that each way is valid and may be done for different reasons.  The default behavior is "apply whatever definitions you can".  This is a generally useful strategy for simplifying data by "flattening" it into atoms as much as possible.  Completely different strategies may be useful for different situations such as proving that two data are equal or proving that some given data is true or false.