## Sets as spaces

Lots of mathematics is defined as sets with additional structure.  A group, for instance, is a set with a binary operator. 
Here we explore making sets in various ways in coda.

Let's consider the set S = {1,2,3} and look at related structures in coda.  

"Consider the set {1,2,3}" is typical of a mathematical statement in that it is not quite precise.  Does it mean the character "2" or the number 2? Are 1,2,3 numbers in the sense of a ring? Abelian group? Ordered set?  

Let's explore, keeping these issues in mind.

In [1]:
#  A first attempt is simply the finite sequence 
1 2 3

1 2 3

In [2]:
#  Let's put it in a "variable S1" for convenience.
let S1 : 1 2 3

In [3]:
#  S1? contains three codas
count : S1?

3

In [4]:
#  Each has a 1 bit for domain, meaning that each is a finite sequence of characters.
#  You can take the bits and bytes apart if desired as demonstrated in the bits tutorial.
domain : S1?

ùùû ùùû ùùû

In [5]:
#
#  "in" can be used to test if something is in S1? analogous to set membership.
#
in S1? : 2 xxx 45 1 3 3 3

2 1 3 3 3

In [6]:
#
#   You can use "once" to remove duplicates 
#
once : in S1? : 2 xxx 45 1 3 3 3

2 1 3

In [7]:
#
#   Of course S1? = 1 2 3 a finite sequence, not a set, so S1? = 1 2 3 is equal to the empty data ("true").
#
S1? = 1 2 3

In [8]:
#...but S1? = 2 1 3 is not true because it's a different sequence 
bool : (S1? = 2 1 3)

‚óé

In [9]:
#
#    Let's create a partially overlapping second "set".
#
let S2 : 3 3 4 5

In [10]:
#
#   Listing both S1? and S2? specifies S1? added to S2? as finite sequences.  Obviously not a set union.
#
S1? S2?

1 2 3 3 3 4 5

In [11]:
#
#   One can make something similar to set union with "once"
#
once : S1? S2?

1 2 3 4 5

In [12]:
def intersection : {once : apif {(not:in S1?:B) (not:in S2?:B)} : B}

In [13]:
intersection : S1? S2?

3

## Spaces as Sets 

The natural and more suitable structure for set roles is the coda concept of a *space*.  

- Data A is a *space* if A : X Y = A : (A:X) Y = A : X (A:Y) for all data X and all data Y.

Spaces are already sets *with* additional structure.  Every space A is set in the sense that it represents the collection of data A:X for any data X.  If we define a binary product 

- (A:X) \* (A:Y) &rightarrow; A:X Y 

This is automatically a monoid because \* is associative and because A always has a neutral element (A:) where 

- (A:) \* (A:X) = (A:X) * (A:) = (A:X) 

for any space A and for any data X.

In [14]:
#
# Here's an example space 
#
def U : first * in 1 2 3

In [15]:
U : a a g ag a 1 1 2 4

1

In [16]:
U : U : a a g ag a 1 1 2 4

1

In [17]:
U : (U:1 2) 3

1

In [22]:
U: (U:2) (U:1)

2

U is a space, and is, thus, a monoid.  As a set, U contains the four elements (), 1, 2, 3, meaning that U:X is one of these four for any data X.  Simple variations on U also produce other useful spaces building on the theme of 1, 2, 3.

In [19]:
def V : in 1 2 3

In [20]:
V : 1 1 2 1 4 1 3 33

1 1 2 1 1 3

In [23]:
once * in 1 2 3 : 1 1 1 3 4 4 2 1. 2 2 2 3 2 22

1 3 2

In [24]:
code_sort : z a w

a w z

In [25]:
def W : code_sort * once * in 1 2 3

In [26]:
W : 1 1 2 3 4

1 2 3

In [29]:
W : (W : 1 1 1 1 1) (W:2 2 2)

1 2



|    Space            |    Description                    |   Operation   |   Neutral data   |
|---------------------|-----------------------------------|---------------|------------------|
| in 1 2 3            |  finite sequences from 1,2,3      | Concatenation |     ()           |
| first * in 1 2 3    |  finite sequences with at most one| Concat+first  |     ()           |
| once * in 1 2 3     |  (), 1, 2 or 3                    |               |                  |
| code_sort * once * in 1 2 3 | subsets of 1,2,3 | set union | |

In [33]:
def Z : once * in 1 2 3

In [35]:
def S1: in 1 2 3 
def S2 : first * in 1 2 3 
def S3 : once * in 1 2 3 
def S4 : code_sort * once * in 1 2 3

In [36]:
S1 : 1 2 2 3 3

1 2 2 3 3

In [37]:
S2 : 1 2 2 3 3

1

In [38]:
S3 : 1 2 2 3 3

1 2 3

In [41]:
S4 : (S4 : 1 2 2) (S4:3 3 4)

1 2 3