## Set and set-like spaces

Lots of mathematics is defined as sets with additional structure.  A group, for instance, is a set with a binary operator. 
Here we explore making sets in various ways in coda.

Let's consider the set S = {1,2,3} and look at related structures in coda.  

"Consider the set {1,2,3}" is typical of a mathematical statement in that it is not quite precise.  Does it mean the character "2" or the number 2? Are 1,2,3 numbers in the sense of a ring? Abelian group? Ordered set?  

Let's explore, keeping these issues in mind.

## Spaces as Sets 

The natural and more suitable structure for set roles is the coda concept of a *space*.  

- Data A is a *space* if A : X Y = A : (A:X) Y = A : X (A:Y) for all data X and all data Y.

Spaces are already sets *with* additional structure.  Every space A is set in the sense that it represents the collection of data A:X for any data X.  If we define a binary product 

- (A:X) \* (A:Y) &rightarrow; A:X Y 

This is automatically a monoid because \* is associative and because A always has a neutral element (A:) where 

- (A:) \* (A:X) = (A:X) * (A:) = (A:X) 

for any space A and for any data X.

In [1]:
#
#   S1 : sequences of 1,2,3,4 
#   S2 : sequences of 1,2,3,4 without repetition
#   S3 : subsets of 1,2,3,4 
#   S4 : (), 1, 2, 3 or 4.
#
def S1 : in 1 2 3 4
def S2 : once * in 1 2 3 4
def S3 : code_sort * once * in 1 2 3 4
def S4 : first * in 1 2 3 4


|    Space   |   Description                       |      Typical data  |              Operation   |   Neutral data  |
|------------|-------------------------------------|--------------------|--------------------------|-----------------|
|    S1      | Finite sequences                    |  3 1 2 2 1, 2 2 3  |    Concatenation         |   ()            |
|    S2      | Finite sequences without repetition | 1 2, 2 3 4         |    Concatenation         |   ()            |
|    S3      | Subsets                             | {1,2}, {}, {1,3,4} |    Set union             |   ()            |
|    S4      | (), 1, 2, 3 or 4                    | (), 1, 2, 3, 4     |    x*y &rightarrow; x    |   ()            |

In [2]:
S4 : 3 1 2 5 5 1 1 1. 4 4

3

In [3]:
S3 : 4 4 2 2 1 1

1 2 4

In [4]:
let foo : 1 1 2 3

In [5]:
S3 : S3 : S3 : (S3:foo?) (S3 : foo?)

1 2 3