## Getting started

Coda is software that's an implementation of the ideas around the "Data definition of Mathematics" projects.  It's a very tiny framework for defining mathematical structures and questions and for doing general computing.  Unlike other systems, in coda, every computation is a proof.  To understand, see the first paper and/or talks (Which I still need to write!). 

Mechanically speaking, there is Python3 code including (currently) two interpreters (coda and eval).  This will probably change.  There are also jupyter notebooks and such demonstrating different subjects and showing how to use the system from Python.

In [2]:
from start import *

code:
    help
module:
    Help
summary:
    Help system
description:
path:
    /Users/youssef/math/py/Help.py
demos:
    1. help : n
    2. help : <=>
    3. help : <|>
    4. demo n : 2
    5. help : Sequence

This imports what you need and pre-executes a startup file (if any) in ~/.coda/coda.co.

The two main functions that you need are
1. `D = co('<some text>')` to create data, and 
2. `D.eval(100)` to "evaluate" D to depth 100. Evaluation is a crude general evaluator which will freely apply any existing definitions up to 100 iterations.

The following, for instance, gets help and demos about a type called `n` which is one representation of the natural numbers.

In [3]:
D = co('help: n'); D.eval(100)

code:
    n
module:
    Number
summary:
    Natural numbers implemented with python int
description:
path:
    /Users/youssef/math/co/Number.co
source code:
demos:
    1. n : 1 2 3 4
    2. sum n : 1 2 3 4
    3. sum n : n : 1 2 3 4
    4. prod n : 1 2 3 4

Now, let's construct a proof that 1+1 = 2 in the system (for the type n).  To show the internal steps, we'll evaluate one step at a time and display the results.

In [4]:
D = co('sum n : 1 1')

In [43]:
D = D.eval(1); D # repeat this cell until you get an answer

(n:2)

You can see that the system goes through quite a lot.  This actually constitutes a proof that 

`{sum n : 1 1} : = (n:2)`

in the language, including definitions involved in processing `sum n : 1 1` as a coda language expression.

The language is unusual in that there is no such thing as a syntax error.  All code can be validly executed in coda and turned into data via X -> {X}: where X is any code, i.e. any sequence of bytes. The language is expressive enough so that any data can be produced this way.  This is because data is always a **finite** sequence. 

Speaking of finite, here is an example of how finite data represents the (infinite) natural numbers.

In [50]:
D = co('nat : 0'); D = D.eval(100); D

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 (nat:98)

There is a count function (i.e. data that counts it's "input").

In [51]:
D = co('count : a b c'); D = D.eval(100); D

(n:3)

But what happens if you try to count all the natural numbers?

In [57]:
D = co('sum n : nat : 0'); D = D.eval(100); D

(ap put n:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(app int:65 66 (if (= n:n:67) (get1 n:(n:68)) (ap get1 n:(put n:69)) (ap get1 n:(ap put n:(nat1:70))) (ap get1 n:(ap put n:(ap nat1:71))) (ap get1 n:(ap put n:(ap nat1:72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 (nat:96)))) (ap get1 n:(if (= n:):66)) (ap get1 n:(sel1 n:67)) (ap get1 n:(ap sel1 n:68)) (ap get1 n:(ap sel1 n:69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 (nat:96))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

This is correct in the sense that it's never giving you a number.  That fact shows that there is no such answer.  Let's now do the same but for the first 100 numbers.

In [58]:
D = co('sum n : first 100 : nat : 0'); D = D.eval(100); D

(ap put n:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(int:(app int:65 66 (if (= n:n:67) (get1 n:(n:68)) (ap get1 n:(put n:69)) (ap get1 n:(ap put n:(nat1:70))) (ap get1 n:(ap put n:(ap nat1:71))) (ap get1 n:(ap put n:(ap nat1:72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 (first 6:(nat:94))))) (ap get1 n:(if (= n:):66)) (ap get1 n:(sel1 n:67)) (ap get1 n:(ap sel1 n:68)) (ap get1 n:(ap sel1 n:69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 (first 6:(nat:94)))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))

This more-or-less looks like the previous cell, but it actually just needs to be evaluated more deeply.

In [59]:
D = co('sum n : first 100 : nat : 0'); D = D.eval(1000); D

(n:4950)

We'll end with showing what the above looks like in one of the interpreters.

% coda 
@ help : n
code:
    n
module:
    Number
summary:
    Natural numbers implemented with python int
description:
path:
    /Users/youssef/math/co/Number.co
source code:
demos:
    1. n : 1 2 3 4
    2. sum n : 1 2 3 4
    3. sum n : n : 1 2 3 4
    4. prod n : 1 2 3 4
@ sum n : first 100 : nat : 0
(n:4950)
@ demo 4 : n
(n:24)